.register-container form{
    min-height: 16rem!important;
}

.login-title{
    padding-bottom: 1rem;
}

.login-title h1{ 
    text-align: center;
}

.login-container{
    margin-top:  4.333rem;
    min-height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.login-container form{
    margin-top: 3rem;
    width: 25rem; 
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
    border-radius: 4px;
}

.login-container form div{
    width: 100%;
    text-align: center;
    font-size: 12px;
}

.login-form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login-form-group div{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.login-form-group div label:last-of-type{
    color: var(--primary-blue);
    cursor: pointer;
}

.login-form-group input{
    margin-top: 5px;
    width: 98%;
    height: 2.5rem;
    padding: 5px;
    outline: none;
    border: 1px solid #00000053;
    border: none;
    border-radius: 4px;
    background: #d3d3d34a;
}

.login-form-group span{
    color: red;
}

.login-form-input{
    display: flex;
    align-items: center;
}

.login-form-input div{
    margin-top: 5px;
    width: 4rem!important;
    display: flex;
    align-items: center;
    gap: 5px;
    background: #d3d3d34a;
    height: 2.5rem;
    border-radius: 4px;
    padding: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.login-form-submit{
    margin-top: 1rem;
}

.login-form-submit button{
    width: 98%;
    height: 2.5rem;
    border: none;
    background: var(--primary-blue);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container button:hover{
    background: var(--primary-hover-blue);
}


.login-form-submit button:disabled, .login-form-submit button:disabled:hover{
    cursor: progress;
    background: var(--disabled-blue);
}

/* responsive design */
@media (max-width:500px) {
    .login-container form{
        width: 98%;
    }
}

/* otp verfication form */
.otp-inputs{
    margin-top: 10px;
    width: 100%;
    display: flex;
    gap: 5px;
}

.otp-inputs input{
    width: 16.6666%;
    height: 2.5rem;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #00000053;
    border: none;
    border-radius: 4px;
    background: #d3d3d34a;
}

.otp-inputs input:focus{
    outline: 2px solid var(--primary-blue);
}

.otp-submit button{
    width: 100%;
}

.resent-otp span{
    color: var(--primary-blue);
    cursor: pointer;
}