.product-container{
    margin-top: 4.3333rem;
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: hidden;
}

/* product image section start */
.product-img-slider-main{
    padding-top: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.product-img-slider{
    width: 23rem;
    background: linear-gradient(to right, #eee8e8, #f2f2f2);
    border-radius: 20px;
}

.product-img-slider img{
    border-radius: 20px;
}

.product-img-pagination{
    width: 20.33rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    border-radius: 20px;
}

.product-img-pagination img{
    width: 70px;
    cursor: pointer;
    border: 0.1px solid rgba(0, 0, 0, 0.32);
    border-radius: 10px;
}

/* product image section end */


/* .product details section start */
.product-details-section{
    width: 50%;
    height: auto;
    padding-top: 2rem;
}

.product-brand-name h2{
    color: #282c3f;
}

.product-title h3{
    color: rgba(108, 108, 108, 0.968);
    font-weight: 500;
}

.product-rating{
    display: flex;
    align-items: center;
    margin-top: 0.6rem;
}

.breaking-line{
    border-top: 1px solid lightgrey;
    width: 75%;
    margin-top: 0.5rem;
}

.product-price{
    margin-top: 0.5rem;
    display: flex;
    align-self: center;
    gap: 0.5rem;
}

.product-price h2{
    font-weight: 600;
}

.product-price h3{
    color: #ff915ae0;
}

.product-price h3:nth-child(2){
    text-decoration: line-through;
    color: grey;
    font-weight: 400;
}

.size-chart{
    display: flex;
    gap: 0.6rem;
    margin-top: 0.5rem;
}


.size-chart h4{
    font-weight: 400;
}

.size-chart button{
    border: none;
    background: rgba(25, 130, 164, 0.526);
    color: white;
    cursor: pointer;
    width: 6rem;
    height: 1.3rem;
    border-radius: 5px;
}

.product-select-size{
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.product-select-size button{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.selected-size{
    border: 2px solid var(--primary-blue)!important;
}

.product-select-size button:hover{
    border: 1px solid grey;
}

.add-to-cart{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.add-to-cart button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
    padding-right: 15px;
    padding-left: 15px;
    width: 10rem;
    height: 2.8rem;
    border: none;
    border-radius: 8px;
    background: var(--primary-blue);
    color: white;
    cursor: pointer;
}

.add-to-cart button:hover{
    background: var(--primary-hover-blue);
}

.add-to-cart button:nth-child(2){
    width: auto;
    background: white;
    color: black;
    border: 0.1px solid rgba(0, 0, 0, 0.172);
}

.add-to-cart button:nth-child(2):hover{
    border: 0.5px solid rgba(0, 0, 0, 0.484);
}

.product-info h4:first-child{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 0.5rem;
    font-weight: 600;
}

.product-info p:nth-child(2){
    margin-top: 0.3rem;
    max-width: 35rem;
}

/* responsive design */


@media (max-width:800px) {
    .product-container{
        flex-direction: column;
    }
    .product-details-section{
        width: 100%;
        padding-top: 0;
        padding-left: 1rem;
    }
    .add-to-cart{
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        background: white;
        padding: 10px;
        box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    }
    .product-img-slider-main{
        padding-top: 0;
        width: 100%;
    }
    .product-img-slider{
        width: 100%;
    }
    .product-img-pagination{
        display: none;
    }

}

@media (max-width:555px) {
    .product-container{
        margin-top: 3rem;
    }
}

/* slider dot style start */
.slick-dots{
    bottom: 5px;
}
.slick-dots li button::before {
    font-size: 12px !important;
    color: grey;
  }
.slick-dots li.slick-active button:before {
    color:White !important;
    font-size: 12px;
}
/* slider dot style end */