.homeProContainer{
    width: 100%;
    padding-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.homepro-title h2{
    margin-top: 1.4rem;
    font-weight: 400;
}

.homepro-desc{
    margin-top: 0.3rem;
    color: rgba(128, 128, 128, 0.935);
    text-align: center;
}

/* product box */

.home-wrapper{
    display: flex;
    justify-content: flex-start;
    gap: 0.8rem;
    margin-top: 1.6rem;
    width: 80%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.homepro-box{
    width: 214.2px;
}

.homepro-box img{
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 4px 0.1px rgb(0 0 0 / 17%);    
}

.homepro-titles h3{
    font-weight: 700;
    font-size: 16px;
    margin-left: 5px;
    text-transform: uppercase;
}

.homepro-titles h4{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    margin-left: 5px;
    color: rgba(108, 108, 108, 0.968);
}

.homepro-price h3{
    font-weight: 500;
    margin-left: 5px;
    margin-top: 4px;
    font-size: 17px;
}


/* arrows */

.homepro-arrow{
    position: absolute;
    top: 15rem;
    width: 2.3rem;
    height: 2.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(238, 235, 235);
    cursor: pointer;
}

/* responsive design */

@media (max-width:750px) {
    .homepro-arrow{
        display: none;
    }
    .home-wrapper{
        margin-top: 1.6rem;
        width: 95%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex: 50%;
    }
    .homepro-box{
        width: calc(95%/2);
    }
    .homepro-titles h3{
        font-size: 14px;
    }
    .homepro-titles h4{
        font-size: 14px;
    }
    .homepro-price h3{
        font-size: 15px;
    }
}

@media (max-width:315px) {
    .homepro-box{
        width: 95%;
    }
}