.select-payment-title h3{
    font-weight: 500;
}

.select-payment-box{
    margin-top: 1rem;
    width: 20rem;
    height: 15rem;
    background: white;
    border: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.select-payment-box div{
    height: 3rem;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-shadow: 0 0 2.3px 0.1px rgba(0, 0, 0, 0.195);
    border-radius: 5px;
}

.select-payment-box button{
    height: 2.6rem;
    width: 80%;
    border: none;
    outline: none;
    background: var(--primary-blue);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.select-payment-box button:hover{
    background: var(--primary-hover-blue);
}

.back-btn{
    position: absolute;
    top: 0.6rem;
    left: 0.6rem;
    background: white;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
    cursor: pointer;
}

@media (max-width:1100px) {
    .select-payment{
        width: 80%;
    }
}

@media (max-width:555px) {
    .select-payment{
        width: 98%;
    }
    .select-payment-box{
        width: 90%;
    }
}