.categoryContainer{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-title h2{ 
    font-weight: 400;
    font-size: 22px;
}

.category{
    margin-top: 0.6rem;
    width: 51rem;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.7rem;
}

.category-in{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
    text-decoration: none;
    color: black;
}

/* category image start */
.category-image{
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border-radius: 10px;
}

.category-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #00000013;    
}
/* category image end */

.category-name h3{
    font-weight: 400;
    font-size: 15px;
}

@media (max-width:887px) {
    .category-title h2{
        font-size: 18px;
    }
    .category{
        margin-top: 0.6rem;
        width: 100%;
        overflow-x: scroll;
        justify-content: flex-start;
        flex-wrap: nowrap;
        padding-left: 10px;
        padding-right: 10px;
        gap: 0;
        padding-bottom: 10px;
    }
    .category-image{
        width: 110px;
        height: 110px;
    }
    .category-name{
        width: 7.6rem;
        text-align: center;
    }
    .category-name h3{
        font-size: 10px;
    }
}