.categoryContainer{
    margin-top: 2rem;
    width: 100vw;
}

.category-title{
    display: flex;
    justify-content: space-between;
}

.category-title h2{
    margin-left: 1rem;
    font-weight: 400;
    font-size: 22px;
}

/* view all categories start*/
.category-title span{
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}
/* view all categories end */

.category{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.category-in{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
}

/* category image start */
.category-image{
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
}

.category-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 0px #0000004a;
    border: 0.3px solid rgba(0, 0, 0, 0.375);
}
/* category image end */

.category-name h3{
    font-weight: 400;
    font-size: 15px;
}

@media (max-width:887px) {
    .categoryContainer{
        margin-top: 2 rem;
    }
    .category-title h2{
        font-size: 18px;
    }
    .category-title span{
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .category{
        margin-top: 0.6rem;
        overflow-x: scroll;
        justify-content: flex-start;
        padding-left: 10px;
        padding-right: 10px;
        gap: 0;
    }
    .category-image{
        width: 110px;
        height: 110px;
    }
    .category-name{
        width: 7.6rem;
        text-align: center;
    }
    .category-name h3{
        font-size: 10px;
    }
}