.categoryViewContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4.333rem;
}

/* breadcrumps start */
.catview-breadcrumps{
    margin-top: 1rem;
    margin-left: 1rem;
}

.catview-breadcrumps h5{
    color: black;
}/* breadcrumps end */

/* title-filters start */
.catview-title-filters{
    margin-top: 0.5rem;
    width: 100%;
    height: auto;
    display: flex;
    gap: 0.5rem;
    padding-right: 0.5rem;
}

.catview-title-filters div:first-child{
    width: 16rem;
    text-align: center;
}

.catview-title-filters div:nth-child(2){
    width: 82%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.catview-title-filters button{
    height: 1.5rem;
    display: flex;
    align-items: center;
    border: 0.1px solid rgba(23, 23, 23, 0.291);
    background: white;
    border-radius: 25px;
    padding: 5px;
}

@media (min-width:712px) and (max-width:3000px) {
    .sort-by{
        width: 10rem;
        height: 2.3rem;
        border: 0.3px solid rgba(0, 0, 0, 0.363);
    }
    .sort-by select{
        width: 100%;
        height: 100%;
        border: none;
        border-right: 6px solid transparent;
        outline: none;
    }
}
/* title-filters  end */

.catview{
    margin-top: 0.5rem;
    display: flex;
}

/* filter start */
.catview-filter{
    width: 16rem;
    border: 1px solid lightgray;
}

.catview-filter-title{
    padding-left: 1rem;
    padding-top: 0.5rem;
}

/* filter clear */
.filter-clear{
    text-align: center;
    padding-top: 2rem;
    font-weight: bold;
    color: var(--primary-blue);
    cursor: pointer;
}

.mobile-filter{
    display: none;
}

/* products start */
/* category view products */
.catview-products{
    width: 85%;
    height: auto;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
    flex-wrap: wrap;
}
.catview-product-box{
    width: 13.375rem;
}

.catview-product-image{
    background: linear-gradient(to right, #eee8e8, #f2f2f2);
    border-radius: 10px;
    width: 100%;
}

.catview-product-image img{
    width: 100%;
    border-radius: 10px;
}

.catview-product-brand h3{
    font-weight: 700;
    font-size: 16px;
    margin-left: 5px;
    text-transform: uppercase;
    color: black;
} 

.catview-product-title h4{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    margin-left: 5px;
    color: rgba(108, 108, 108, 0.968);
}

.catview-product-price{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.catview-product-price h3{
    font-weight: 500;
    margin-left: 5px;
    margin-top: 4px;
    font-size: 17px;
    color: black;
}

.catview-product-price h6{
    margin-top: 0.3rem;
    font-size: 13px;
    text-decoration: line-through;
    color: grey;
    font-weight: 400;
}

.catview-product-price h5{
    color: #ff915ae0;
}

.mobile-filter{
    display: none;
}

/* responsive design */

@media (max-width:712px) {
    .catview-title-filters{
        gap: 0.1rem;
        padding-right: 0;
    }
    .catview-title-filters div:first-child{
        display: none;
    }
    .catview-title-filters div:nth-child(2){
        display: none;
    }
    .catview-filter{
        display: none;
    }
    .catview-products{
        width: 100%;
        flex: 50%;
    }
    .catview-product-box{
        width: calc(95%/2);
    }
    
    /* mobile filter */
    .mobile-filter{
        display: initial;
        background: rgba(239, 238, 238, 0.889);
        width: 50%;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    /* sort by */
    .sort-by{
        background: rgba(239, 238, 238, 0.889);
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sort-by select{
        border: 2px;
        outline: none;
        height: 100%;
        width: 100%;
        padding: 10px;
        border-right: 16px solid transparent;
    }
}