.categoryViewContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4.333rem;
}

/* breadcrumps start */
.catview-breadcrumps{
    margin-top: 1rem;
    margin-left: 1rem;
}

.catview-breadcrumps h5{
    color: black;
}/* breadcrumps end */

/* title-filters start */
.catview-title-filters{
    margin-top: 0.5rem;
    width: 100%;
    height: auto;
    display: flex;
    gap: 0.5rem;
    padding-right: 0.5rem;
}

.catview-title-filters div:first-child{
    width: 16rem;
    text-align: center;
}

.catview-title-filters div:nth-child(2){
    width: 82%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.catview-title-filters button{
    height: 1.5rem;
    display: flex;
    align-items: center;
    border: 0.1px solid rgba(23, 23, 23, 0.291);
    background: white;
    border-radius: 25px;
    padding: 5px;
}

.catview-title-filters .sort-by{
    width: 10rem;
    height: 2.3rem;
    border: 0.3px solid rgba(0, 0, 0, 0.363);
}

.catview-title-filters select{
    width: 100%;
    height: 100%;
    border: none;
    border-right: 6px solid transparent;
    outline: none;
}

/* title-filters  end */


.catview{
    margin-top: 0.5rem;
    display: flex;
}

/* filter start */
.catview-filter{
    width: 16rem;
    border: 1px solid lightgray;
}

.catview-filter-title{
    padding-left: 1rem;
    padding-top: 0.5rem;
}

/* category view products */
.catview-products{
    width: 85%;
    height: 40rem;
    border: 1px solid lightgray;
}

/* filter clear */
.filter-clear{
    text-align: center;
    padding-top: 2rem;
    font-weight: bold;
    color: #418cd2;
    cursor: pointer;
    
}

.mobile-filter{
    display: none;
}

/* responsive design */

@media (max-width:554px) {
    .categoryViewContainer{
        margin-top: 1.333rem;
    }
    .catview-title-filters{
        gap: 0.1rem;
       
    }
    .catview-title-filters div:first-child{
        display: none;
    }
    .catview-title-filters div:nth-child(2){
        display: none;
    }
    .catview-filter{
        display: none;
    }
    .catview-products{
        width: 100%;
    }
    /* mobile filter */
    .mobile-filter{
        display: initial;
        background: rgba(239, 238, 238, 0.889);
        width: 50%;
        height: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    /* sort by */
    .sort-by{
        background: rgba(239, 238, 238, 0.889);
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sort-by select{
        border: 2px;
        outline: none;
        height: 100%;
        width: 100%;
        padding: 10px;
        border-right: 16px solid transparent;
    }
}