.bannerContainer{
    margin-top: 4.333rem;
    width: 100%;
    height: 25rem;
    position: relative;
}

.banner-item-main{
    background: rgba(232, 228, 228, 0.84);
    height: 25rem;
}

.banner-item{
    width: 100%;
    height: 100%;
    display: flex;
}

/* banner left item */

.banner-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
} 

.banner-left button{
    background: #418cd2;
    border: none;
    outline: none;
    color: white;
    width: 7rem;
    height: 2.4rem;
    box-shadow: 0px 0px 2px 0px #0000004a;
    border-radius: 2rem;
    cursor: pointer;
    margin-top: 1rem;
}

.banner-left button:hover{
    background: #418cd2df;
}

/* banner right item */

.banner-right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    position: relative;
}

.banner-circle{
    width: 15rem;
    height: 15rem;
    margin-left: 30px;
    border-radius: 50%;
    background: lightblue;
    
}

.banner-right img{
    position: absolute;
    width: 305px;
    top: 10px;
    left: 0;
}

/* arrow buttons */

.banner-arrow{
    position: absolute;
    top: 12.5rem;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(105, 102, 102, 0.453);
    cursor: pointer;
}

/* responsive */

@media (max-width:620px) {
    .bannerContainer{
        margin-top: 1rem;
        height: 20rem;
    }
    .banner-arrow{
        display: none;
    }
    .banner-item-main{
        height: 20rem;
    }
    .banner-left h1{
        font-size: 23px;
    }
    .banner-left{
        width: 45%;
    }
    .banner-right{
        width: 55%;
    }
    .banner-circle{
        width: 10rem;
        height: 10rem;
        margin-left: 0;
    }
    .banner-right img{
        width: 210px;
        position: absolute;
        margin-left: 0;
        margin-top: 2rem;
    }
}

@media (max-width:405px) {
    .banner-left h1{
        font-size: 18px;
    }
    .banner-left p{
        font-size: 15px;
    }
}

@media (max-width:330px) {
    .banner-left{
        width: 100%;
    }
    .banner-left button{
        width: 6rem;
        height: 1.6rem;
        font-size: 10px;
    }
    .banner-right{
        display: none;
    }
}