.login-container{
    margin-top:  4.333rem;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-container form{
    margin-top: 3rem;
    width: 22rem; 
    height: 13rem;
    background-color: 	#ebebebea;
    box-shadow: 0 0 2px 1px #00000011;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 15px;
    border-radius: 4px;
}

.register-container form{
    height: 16rem!important;
}

.login-container input{
    width: 98%;
    height: 2.5rem;
    padding: 5px;
    outline: none;
    border: 1px solid #00000053;
    border: none;
    border-radius: 4px;
}

.login-container button{
    width: 98%;
    height: 2.5rem;
    border: none;
    background: var(--primary-blue);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container button:hover{
    background: var(--primary-hover-blue);
}

.login-container form div{
    width: 100%;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.login-container form div a{
    color: var(--primary-blue);
    text-decoration: none;
}

