.nav-container {
  width: 100%;
  height: 4.333rem;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 4px 0.1px rgba(0, 0, 0, 0.193);
  position: fixed;
  top: 0;
  z-index: 5;
}

/* logo */

.nav-logo {
  width: 10rem;
  height: 4.333rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}

.nav-logo h2 {
  font-weight: 800;
}

.nav-logo img {
  width: 33.4px;
  height: 54.6px;
}

/* items */

.nav-items {
  font-weight: 600;
  height: 4.333rem;
  display: flex;
  gap: 0.6rem;
}

.nav-items p{
  height: 4.333rem;
  display: flex;
  align-items: center;
}

.nav-items a{
  text-decoration: none;
  color: black;
}

.nav-items p:hover {
  border-bottom: 3.6px solid var(--primary-hover-blue);
}

/* icons */

.nav-icons {
  width: 10rem;
  height: 4.333rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* search */

.nav-search{
  width: 21rem;
  height: 2.4rem;
  padding-left: 0.4rem;
  background-color: #ebebebea;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.6px;
}

.nav-search input{
  width: 100%;
  height: 1.8rem;
  font-size: 15px;
  padding-left: 0.4rem;
  border: none;
  outline: none;
  background: none;
}

/* Account Menu */

.account-menu{
  position: absolute;
  bottom: -10.7rem;
  right: 5rem;
  width: 15rem;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 3px solid var(--primary-blue);
  background: white;
  box-shadow: 0 0 5px 0.1px rgba(0, 0, 0, 0.135);
  animation: anime 0.4s ease 0s ;
}

@keyframes anime {
  from{
    transform: translateY(4px);
  }
  to{
    transform: translateY(0);
  }
}

.profile-menu{
  bottom: -13.9rem!important;
}


.my-account{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.my-account p{
  font-weight: 600;
}

.nav-login{
  width: 100%;
  height: 2rem;
  border: none;
  cursor: pointer;
  color: white;
  background: var(--primary-blue);
  border-radius: 3px;
}

/* responsive  */

.nav-search-ml {display: none;}
.nav-menu {display: none;}
.nav-icons-ml {display: none;}
.nav-ml-shadow{display: none;}
.nav-drawer{display: none;}

@media (max-width: 555px) {
  .nav-menu {
    display: initial;
  }
  .nav-search{
    display: none;
  }
  .nav-items {
    display: none;
  }
  .nav-icons {
    display: none;
  }
  .nav-search-ct{
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .nav-search-ml {
    display: initial;
    width: 93%;
    height: 2.4rem;
    padding-left: 0.4rem;
    background-color: #ebebebea;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.6px;
  }
  .nav-search-ml input{
    width: 100%;
    height: 1.8rem;
    font-size: 15px;
    padding-left: 0.4rem;
    border: none;
    outline: none;
    background: none;
  }
  .nav-icons-ml {
    display: initial;
    width: 10rem;
    height: 4.333rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  .nav-whishlist {
    display: none;
  }
  .nav-logo img {
    width: 16.7px;
    height: 27.3px;
  }
  .nav-logo h2 {
    font-size: 18px;
  }
  /* mobile nav list */

.nav-drawer {
    display: initial;
    width: 70vw;
    height: 100vh;
    background: white;  
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    transition: all 0.4s ease;
    box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.358);
    z-index: 5;
  }
  .nav-ml-shadow{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.372);
    animation: cssAnimation 0s 0.3s forwards;
    visibility: hidden;
    z-index: 1;
  }
  .nav-dr-login{
    width: 100%;
    height: 4.2rem;
    background: var(--primary-blue);
    background: linear-gradient(90deg, rgba(65,140,210,1) 0%, rgba(27,107,182,1) 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: 0.6rem;
  }
  .nav-dr-login span{
    margin-bottom: 2px;
  }
  
  @keyframes cssAnimation {
    to   { visibility: visible; }
  }
}

@media screen and (min-width: 558px) and (max-width:952px) {
  .nav-container{
    gap: 1rem;
  }
  .nav-items{
    display: none;
  }
  .nav-logo img {
    width: 19.7px;
    height: 30.3px;
  }
}
