:root {
    --primary-blue : #2c88dd;
    --primary-hover-blue : #297bc8e5;
    --disabled-blue: #2c87dd89;
    --navbar-height : 4.333rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

